body {
  font-family: 'SBBWeb Roman';
}

// title styles

sbb-title {
  margin: 3rem 0 1rem;
}

.variant-container sbb-title {
  margin: 0;
}

sbb-title.page-title {
  margin-bottom: 4rem;
  margin-top: 0;
}

// custom tag

.tag-mark {
  background-color: $sbb-color-red-default;
  color: $sbb-color-white-default;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 12px;
}

// buefy overrides

.autocomplete .icon,
.search-field .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu .dropdown-content .dropdown-item .breadcrump-arrow {
  color: $sbb-color-cement-default;
  padding: 0 4px;
}
