lyne-title {
  margin: 3rem 0 1rem;
}

.variant-container lyne-title {
  margin: 0;
}

lyne-title.page-title {
  margin-bottom: 4rem;
  margin-top: 0;
}

.tag-mark {
  background-color: $color-red-default;
  color: $color-white-default;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 12px;
}

body {
  font-family: 'SBBWeb Roman';
}
